#container-main {
  padding-top: 60px;
  padding-bottom: 40px;
}

p { }


html { 
  background: url(../img/coding.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 850px;
  margin-top: 150px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  opacity:0.9;
}

.resultsPage {
  margin-top: 42px;
  width: 700px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding: 33px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.index-container {
  width: 850px;
  margin-top: 150px;
  float: none;
  margin-left: auto;
  margin-right: auto;
}


.surveyBox {
  padding: 20px;
  margin-right: 20px;
}


.hero-unit h1 {
  padding-bottom: 40px;
}



p.notice {
  color: grey;
  font-style: italic;
}

.res-detail {
  padding-top: 10px;
  padding-bottom: 10px;
}

.res-modify-btn {
  width: 400px;
  padding-top:20px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}

.res-status-btn {
  cursor: default;
}

.timeline-tags {
  font-style: italic;
  font-size: 120%;
}

.new-reservation {
  padding-top: 30px;
}

.btn-inline {
  display: inline;
}

div.ui-datepicker{
 font-size:10px;
}

.btn-red {
  color: red;
  border: 1px;
}

.btn-red:hover {
  text-decoration: none;
  color: red;
}

.form-help-text {
  font-style: italic;
  font-size: 90%;
}

.field-wrapper {
  width: 475px;
  margin-bottom: 30px;
  padding: 20px;
}

textarea {
  width: 475px;
  height: 120px;
}

.float-right {
  float:right;
}

img.profile-page-img {
  width: 300px;
  height: 200px;
}

.user-links {
  padding-top: 30px;
  padding-bottom: 30px;

}

.user-link {
  padding-right: 20px;
}

.icon-spacer {
  padding-right: 10px;
}

/*ul.error-list ~ .form-field-body {
  background-color: red;
}
*/
.survey-description {
  padding-bottom: 40px;
  padding-top: 20px;

}

.question-required {
  background: #E6E6E6;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.initialForm {
  margin-top: 0px;
  opacity:0.9;
}

.buttonSetup {
  margin-left: 90px;
}

h3.collapsible:hover {
  cursor: hand; 
  cursor: pointer; ;
}

.collapse-open span {
    display:block;
    float:left;
    padding:20px; 
}

.accordion-open span, .collapse-open span {
    background:url(/media/img/collapse.png) center center no-repeat; }

.accordion-close span, .collapse-close span {
    display:block;
    float:left;
    background:url(/media/img/expand.png) center center no-repeat;
    padding:20px; 
}

.submit-button {
  padding: 40px;
}

.submit-button > input {
  font-size: 130%;
  padding: 10px;
}

.asterix {
  color: red;
  font-size: 200%;
  vertical-align: middle
}

.label-inline {
  display: inline;
}

#intro {
  width: 700px;
  margin: auto;
}

label {
  display: inline;
  padding-right: 12px;
}

#id_comments, #id_conditions {
  height: 50px;
}


ol.survey-questions {
  margin-left: 0px;
}

.q-item {
  margin-left: 60px;
}

